@import "/css//imports.css";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1050px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  font-display: swap;
  /* user-select: none; */
  /* scrollbar-gutter: stable */
}

html {
  padding: 10px;
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
  margin-block: 1.3rem;
}

iframe {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 0;
}

.home__logo__image__container {
  width: max-content;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__logo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  margin-bottom: 20px;
}

.home__logo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  .daily-basis,
  .english-course {
    font-family: "Anton", sans-serif;
    font-weight: 900;
    white-space: nowrap;
    text-shadow: var(--text-shadow);
  }
  
  .daily-basis {
    font-size: 3.8rem;

  }

  .english-course {
    font-size: 2.760rem;
    position: relative;
    bottom: 20px;
  }
}

/* .home__logo__flag__container {
  max-width: 107px;
  height: auto;
  position: relative;
  bottom: 6px;
} */

/* .home__how__image {
  width: 100px;
  height: 100px;
  margin: 0 37px 0 0px;
} */

.home__computer__image {
  width: 230px;
  height: auto;
}

footer p {
  text-align: center;
  font-size: .8rem;
}
