.home__button__container {
  display: flex;
  justify-content: space-between;
}

.home__logo__image__container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 35px;
}

.home__logo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .daily-basis,
  .english-course {
    font-family: "Impact", sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: var(--text-shadow);
  }
  
  .daily-basis {
    font-size: 4rem;

  }

  .english-course {
    font-size: 2.850rem;
    position: relative;
    bottom: 12.8px;
  }
}

.home__logo__flag__container {
  max-width: 107px;
  height: auto;
  position: relative;
  bottom: 6px;
}

.home__how__image {
  width: 100px;
  height: 100px;
  margin: 0 37px 0 0px;
}

.home__computer__image {
  width: 230px;
  height: auto;
  margin-bottom: 20px;
}

footer p {
  text-align: center;
  font-size: .8rem;
}
